In [1]:
#Please read readME.md in Databases folder to set up connection
#Must have pgadmin/postgres set up. Note the password you use to connect to database
from sqlalchemy import create_engine
from config import db_password
import pandas as pd
##Must create config.py file with db_password = YourPassword for this to work. 
##Check gitignore includes .py files. Do not commit config.py. Check with git status
##Must match name of your database (FinalProject)
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/FinalProject"

In [2]:
#Create database engine
engine = create_engine(db_string)
#Error message? Uncomment and run the following cell, then re-run this one

In [3]:
#pip install psycopg2-binary

In [4]:
#Import input data
inputDf = pd.read_csv("../Resources/cleaned_education_new.csv")

#Set index as year to get rid of unnecessary index col.
inputDf = inputDf.set_index(["State"])
inputDf.head()

,YEAR,Less_than_9th_ grade,9th_to_12th_grade_no_diploma,High_school_graduate_(includes_equivalency),"Some_college,_no_degree",Associates_degree,Bachelors_degree,Graduate_or_professional_degree,Population
State,,,,,,,,,
Alabama,2019,130320,302753,1039241,700473,301914,547975,337382,3360058
Alaska,2019,10424,20666,139156,124261,43394,89583,56574,484058
Arizona,2019,252459,360539,1170685,1236845,431854,931038,561120,4944540
Arkansas,2019,94376,160617,710306,444052,151738,307185,168182,2036456
California,2019,2346235,1955278,5546711,5542372,2118792,5889724,3538760,26937872

In [5]:
#Import output data
outputDf = pd.read_csv("../Resources/Personal Income.csv")

#Set index as GeoName to get rid of unnecessary index col.
outputDf = outputDf.set_index(["GeoName"])
outputDf.head()

,Description,1998,1999,2000,2001,2002,2003,2004,2005,2006,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
GeoName,,,,,,,,,,,,,,,,,,,,,
Alabama,Personal income (thousands of dollars),99847704,103369398,108215370,111947357,114904537,120123434,128828691,136861148,145692271,...,168474324,173361655,175185262,181078773,189115437,192363456,199336413,207053583,215930375,228748804
Alaska,Personal income (thousands of dollars),18136011,18712485,20122417,21309233,22325307,23340268,24404323,26061238,27793409,...,37981757,39265976,38978032,41209955,42555117,41837407,42497120,44102675,45293853,46430293
Arizona,Personal income (thousands of dollars),118042927,125393478,136175114,142423527,147602212,156458313,170821628,188761972,209228706,...,227700087,237809058,243752324,257272272,270815540,282085147,297904910,315732186,334023910,368458631
Arkansas,Personal income (thousands of dollars),55698439,57999091,61020960,64255331,65770417,69742263,74404831,78500666,83572448,...,100739246,107877287,108367763,114743300,118719486,121825917,125779938,130865194,135302690,143147852
California,Personal income (thousands of dollars),959693523,1030884656,1135543382,1173878608,1190223778,1243465494,1318744308,1394854877,1503754405,...,1715226969,1827166863,1857200859,1980736837,2125430316,2218457774,2318644417,2431821953,2544234978,2763311977

In [7]:
# Turn Dataframes to sql using engine created above.
# Put data into tables inputData and outputData
inputDf.to_sql(name="inputdata", con=engine)
outputDf.to_sql(name="outputdata", con=engine)

#You should now have data in these two tables!
#Check with pgAdmin. Schema > Tables (be sure to refresh) > Right click table names and view data