In [1]:
from sqlalchemy import create_engine
from config import db_password
import pandas as pd
##Must create config.py file with db_password = YourPassword for this to work. 
##Check gitignore includes config.py or else your password could be at risk
##Must match name of your database (FinalProject)
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/FinalProject"

In [2]:
#Create database engine
engine = create_engine(db_string)
#Error message? Uncomment and run the following cell, then re-run this one

In [3]:
#pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in /opt/anaconda3/envs/mlenv/lib/python3.7/site-packages (2.9.3)
Note: you may need to restart the kernel to use updated packages.

In [22]:
#Create some test data for inputdata table
inputData = [("AZ", 2001, "sunny",100), ("CO", 2002,"snowy",72), ("TX", 2003,"windy",90)]
inputTestDf = pd.DataFrame(data=inputData, columns=["State","Year","Weather","Temperature"])

#Create a multi index of the State and Year columns. The state/year combined makes a kind of primary key, although that doesn't quite translate to postgres.
inputTestDf = inputTestDf.set_index(["State","Year"])
inputTestDf

           Weather  Temperature
State Year
AZ    2001   sunny          100
CO    2002   snowy           72
TX    2003   windy           90

In [24]:
#Create some test data for outputdata table
outputData = [("AZ", 2001, 50000.01), ("CO", 2002,60000.02), ("TX", 2003,70000.03)]
outputTestDf = pd.DataFrame(data=outputData, columns=["State","Year","PC PI ($)"])

#Create a multi index of the State and Year columns. The state/year combined makes a kind of primary key, although that doesn't quite translate to postgres.
outputTestDf = outputTestDf.set_index(["State","Year"])
outputTestDf

            PC PI ($)
State Year
AZ    2001   50000.01
CO    2002   60000.02
TX    2003   70000.03

In [25]:
# Turn Dataframes to sql using engine created above.
# Put data into tables inputData and outputData
inputTestDf.to_sql(name="inputdata", con=engine)
outputTestDf.to_sql(name="outputdata", con=engine)

#You should now have data in these two tables!